@import "tailwindcss";

:root {
  --background: var(--color-gray-50);
  --foreground: #171717;
  --h-spec-cont: calc(100vh - 50px);
  --h-spec-cont-opt: calc(100vh - 200px - 20px);

  --topbar: var(--color-sky-500);
  --ontopbar: var(--color-sky-300);
  --selected: var(--color-sky-200);
  --selected-border: var(--color-sky-300);

  --sidebar: var(--color-zinc-100);
  --onsidebar: var(--color-zinc-300);

  --primary: var(--color-sky-300);
  --temp: var(--color-yellow-600);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-topbar: var(--topbar);
  --color-ontopbar: var(--ontopbar);
  --color-selected: var(--selected);
  --color-selected-border: var(--selected-border);

  --color-sidebar: var(--sidebar);
  --color-onsidebar: var(--onsidebar);

  --color-primary: var(--primary);
  --color-temp: var(--temp);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-700);
    --foreground: #ededed;

    --topbar: var(--color-slate-800);
    --ontopbar: var(--color-slate-700);
    --selected: var(--color-sky-900);
    --selected-border: var(--color-sky-800);
    --sidebar: var(--color-zinc-900);
    --onsidebar: var(--color-zinc-700);

    --primary: var(--color-sky-700);
    --temp: var(--color-amber-300);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  overscroll-behavior-x: none;
}
